<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hey</h1>
    <h1>How al yu</h1>
    <div id="lus">
        <h1>Lus</h1>
        <!--Center a div for me-->
        <div id="center">
            <h1>Center</h1>
        </div>
    </div>
    <!--Reference a css stylesheet-->
    <link rel="stylesheet" href="css/sal.css">

</body>
</html>