<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hey, This is Jhon's Website</h1>
    <p>This is a simple website for Jhon</p>
    <h2 id="i">Opinions?</h2>
    <p>I like this website</p>
    <h3>or</h3>
    <p>I don't like this website</p>
    <p>Thanks for visiting</p>
    <button id="btn">Click Me</button>
    <script>
        var btn = document.getElementById('btn');
        btn.onclick = ()=>{
fetch("http://localhost:8080/users/0", {
  "method": "GET"
}).then(response => {
    console.log(response.json().Id);}).catch(err => {
  console.error(err);
});
        }    
  
    </script>
    <link rel="stylesheet" href="css/sal.css">
</body>
</html>